/*@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');*/

.generator {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: 'Patrick Hand', cursive;
  
  text-align: center;
}

img {
  max-width: 400px;
  max-height: 500px;

  padding: 2rem;

  display: block;
  margin:auto;
  background-image: contain;
}

button {
  font-family: 'Patrick Hand', cursive;
  font-size: 25px;
  
  padding: 1rem;
  margin:1rem;

  background-color: cadetblue;
  color: white;
  cursor: pointer;
}